@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
@import url("https://assets.mlcdn.com/fonts.css?version=1741253");

* {
  font-family: "EB Garamond", serif;
}

body {
  background: url("../images/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
